.panel {
  width: fit-content;
  height: fit-content;
  background-color: var(--light);
  padding: 16px 55px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin-left: auto;
  z-index: 100;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.mobile-panel {
  display: none;
}

@media only screen and (max-width: 1000px) {
  .panel {
    display: none;
  }

  .mobile-panel {
    display: inline-block;
    width: 100%;
    height: fit-content;
    background-color: var(--light);
    padding: 16px 55px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
}

.panel::before {
  content: "Hints";
  position: absolute;
  left: 0;
  bottom: 70px;
  transform: rotate(90deg);
}

.title {
  font-size: 1.5rem;
  margin: 0 0 8px 0;
}

.vs {
  font-weight: bold;
}

.hint-wrapper {
  display: flex;
  align-items: center;
  margin-top: 16px;
}

.hint-button {
  font-size: 1.1rem;
  background-color: transparent;
  padding: 4px;
  margin-right: 4px;
  border: 1px solid black;
  border-radius: 2px;
}

.hint-button:hover {
  cursor: pointer;
  opacity: 0.5;
}

.players-wrapper {
  display: flex;
  flex-direction: column;
}

.players-label {
  font-size: 1.1rem;
  text-decoration: underline;
}

.stats-wrapper {
  margin-top: 8px;
}

.stats-wrapper > span {
  font-weight: bold;
}
