:root {
  --primary: #cb997e;
  --secondary: #6b705c;
  --text: #ffe8d6;

  --dark: #463f3a;
  --light: #f4f3ee;
  --grey: #8a817c;
  --light-grey: #bcb8b1;
  --pink: #e0afa0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--dark);

  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body,
html,
#root {
  height: 100%;
}
